<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Empresa_registro.Properties.Settings.EmpresaTConnectionString"
            connectionString="Data Source=DESKTOP-COJLJUC\SQLEXPRESS1;Initial Catalog=EmpresaT;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>